{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}


{% block styles %}
{{ super() }}
<style>
  body { background: #eee url({{ url_for('static', filename='css/index.jpg') }});
  background-repeat: no-repeat;
  background-size: cover;}
</style>
{% endblock %}


{% block scripts %}
{{ super() }}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
{% endblock %}

{% block app_content %}

<br>
<div class="jumbotron jumbotron-fluid text-center">
  <div class="container" id="title">
    <h1 class="display-4 text-center font-weight-bold">

      {% if header %}
      {{ header }}
      {% else %}
      Risk Tool.
      {% endif %}


    </h1>
    <p class="lead">

      {% if description %}
      <p> {{ description }} </p>

      {% endif %}
    </p>
  </div>

</div>
<div class="row">

  <div class="col-sm chart" id="plot1">
      <script>
          var graphs = {{plot | safe}};
          Plotly.plot('plot1',graphs,{});
      </script>
  </div>


  <div class="col-sm chart" id="plot2">
      <script>
          var graphs2 = {{plot2 | safe}};
          Plotly.newPlot('plot2',graphs2,{});
      </script>
  </div>


  <div class="col-sm chart" id="plot3">
      <script>
          var graphs3 = {{plot3 | safe}};
          Plotly.newPlot('plot3',graphs3,{});
      </script>
  </div>


</div>


{% endblock %}
