<table class="table">
    <tr>
        <td width="64" style="border: 0px;"></td>
        <td style="border: 0px;">
            <p>Testing</p>
            <small>
              page details here...page details here...page details here...
              page details here...page details here...page details here...
              page details here...page details here...page details here...
              page details here...page details here...page details here...
              page details here...page details here...page details here...
              page details here...page details here...page details here...
              page details here...page details here...page details here...
              page details here...page details here...page details here...
              page details here...page details here...page details here...
              page details here...page details here...page details here...
              page details here...page details here...page details here...
              page details here...page details here...page details here...
              page details here...page details here...page details here...
              page details here...page details here...page details here...
              page details here...page details here...page details here...
              page details here...page details here...page details here...
              page details here...page details here...page details here...
              page details here...page details here...page details here...
              
            </small>
        </td>
    </tr>
</table>
