<!DOCTYPE html>

<head>
  <meta charset="utf-8">

  <title>
    Trying Bootstrap
  </title>


  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <!-- <script src="https://kit.fontawesome.com/360308cf83.js"></script> -->

  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
  <script src="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" crossorigin="anonymous"></script>


  <script>
    $(document).ready(function() {
      $('#table1').DataTable();
    });
  </script>

</head>

<body>


  <table id="table1" class="table table-hover table-sm table-responsive-sm basic_table bg-light display datatable">
    <caption>Country Float 🌎</caption>
    <thead>
      <tr>
        <th>COUNTRY</th>
        <th>FLOAT_VOLUME</th>
        <th>FLOAT_REVENUE</th>
        <th>CLOSED_VOL</th>
        <th>CLOSED_REVENUE</th>
        <th>YESTERDAY_REVENUE</th>
        <th>YESTERDAY_VOLUME</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>TW</td>
        <td>1,515.91</td>
        <td>4,618,467.66</td>
        <td>137.24</td>
        <td>
          <font color="red">-2,109.67</font>
        </td>
        <td>
          <font color="red">-2,250.02</font>
        </td>
        <td>567.96</td>
      </tr>
      <tr>
        <td>CN</td>
        <td>519.78</td>
        <td>1,337,737.54</td>
        <td>305.45</td>
        <td>40,185.25</td>
        <td>
          <font color="red">-223,430.42</font>
        </td>
        <td>1,147.47</td>
      </tr>
      <tr>
        <td>Cambodia</td>
        <td>347.29</td>
        <td>1,289,050.36</td>
        <td>81.16</td>
        <td>628.93</td>
        <td>
          <font color="red">-3,948.87</font>
        </td>
        <td>509.09</td>
      </tr>
      <tr>
        <td>HK</td>
        <td>71.96</td>
        <td>542,462.09</td>
        <td>17.5</td>
        <td>14,869.59</td>
        <td>
          <font color="red">-749.33</font>
        </td>
        <td>3.5</td>
      </tr>
      <tr>
        <td>BVI</td>
        <td>125.2</td>
        <td>228,302.21</td>
        <td>0.93</td>
        <td>130.85</td>
        <td>24,456.74</td>
        <td>224.59</td>
      </tr>
      <tr>
        <td>UK</td>
        <td>97.66</td>
        <td>66,745.68</td>
        <td>100.68</td>
        <td>
          <font color="red">-8,726.15</font>
        </td>
        <td>
          <font color="red">-8,691.27</font>
        </td>
        <td>98.81</td>
      </tr>
      <tr>
        <td>BVE</td>
        <td>5.33</td>
        <td>18,657.42</td>
        <td>1.71</td>
        <td>
          <font color="red">-215.82</font>
        </td>
        <td>
          <font color="red">-1,257.23</font>
        </td>
        <td>7.53</td>
      </tr>
      <tr>
        <td>Crypto</td>
        <td>10.23</td>
        <td>3,366.21</td>
        <td>1.1</td>
        <td>
          <font color="red">-84.74</font>
        </td>
        <td>12.65</td>
        <td>0.35</td>
      </tr>
      <tr>
        <td>MCML</td>
        <td>0.84</td>
        <td>815.62</td>
        <td>0</td>
        <td>0</td>
        <td>
          <font color="red">-69.62</font>
        </td>
        <td>0.1</td>
      </tr>
      <tr>
        <td>NZ</td>
        <td>16.83</td>
        <td>8.14</td>
        <td>63.1</td>
        <td>6,003.6</td>
        <td>19,478.61</td>
        <td>203.03</td>
      </tr>
      <tr>
        <td class="table_highlight">UK_A </td>
        <td>0.13</td>
        <td>1.16</td>
        <td>2.81</td>
        <td>
          <font color="red">-143.62</font>
        </td>
        <td>
          <font color="red">-143.53</font>
        </td>
        <td>2.81</td>
      </tr>
      <tr>
        <td class="table_highlight">BVE_A </td>
        <td>0</td>
        <td>0</td>
        <td>0.01</td>
        <td>0.24</td>
        <td>3.12</td>
        <td>0.11</td>
      </tr>
      <tr>
        <td>BVI_Tiger</td>
        <td>0.01</td>
        <td>
          <font color="red">-12.02</font>
        </td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
      <tr>
        <td class="table_highlight">TW_A </td>
        <td>0.27</td>
        <td>
          <font color="red">-105.56</font>
        </td>
        <td>0</td>
        <td>0</td>
        <td>
          <font color="red">-106.42</font>
        </td>
        <td>0.23</td>
      </tr>
      <tr>
        <td class="table_highlight">CN_A </td>
        <td>0.2</td>
        <td>
          <font color="red">-424.98</font>
        </td>
        <td>215.13</td>
        <td>267.42</td>
        <td>5,224.31</td>
        <td>138.81</td>
      </tr>
      <tr>
        <td>Alliance</td>
        <td>0.95</td>
        <td>
          <font color="red">-704.32</font>
        </td>
        <td>0.03</td>
        <td>7.75</td>
        <td>396.31</td>
        <td>0.7</td>
      </tr>
      <tr>
        <td class="table_highlight">Dealing </td>
        <td>17</td>
        <td>
          <font color="red">-52,383.25</font>
        </td>
        <td>0</td>
        <td>0</td>
        <td>
          <font color="red">-2,637.75</font>
        </td>
        <td>13</td>
      </tr>
    </tbody>
  </table>

</body>

</html>
