{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}


{% block styles %}
{{ super() }}
<style>
  body { background: #eee url({{ url_for('static', filename=backgroud_Filename) }});
  {% if not no_backgroud_Cover %}
  background-repeat: no-repeat;
  background-size: cover;
  {% endif %}
}
</style>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>

<!-- For jquery's datatable. For interractive tables. -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>


<script src="{{ url_for('static', filename='js/sweetalert2.all.min.js') }}"></script>

<script type="javascript/worker" id="my_first_worker">

  var Increment_counter = 1;
  var Refresh_Page_Counter = 0;  // When to refresh the page.

  var Inactive_timer_counter = 0; // Counter to store how long the tab is inactive for.
  var tabIsActive=true;

  var UTC_Timing_Fixed = -480;        // Used for UTC Time offset to SGT
  var UTC_Offset_Change = 0;

  Check_Time_Offset();

  self.onmessage = function(event){
    //console.log(event);
    if (event.data == "BUTTON") {  // force the xmlhttprequest to fire off.
      {% if setinterval %}
      Refresh_Page_Counter =  {{ setinterval }};
      Refresh_Page_seconds_call();
      {% else %}
      xhr_call();
      {% endif %}
    }else if (event.data == "TAB-IS-ACTIVE"){         // Main thread will send, when it sense that tab is active
        tabIsActive=true;
        {% if setinterval %}
        if (Inactive_timer_counter >= {{ setinterval }} ){  // If the page is idle, we will not need to run the refresh.
                                                            // Thus, saving some resources.
          Refresh_Page_Counter = {{ setinterval }};         // Set it to large number so that it runs immediately.
          self.postMessage({TO_LOG: "Tab forced refresh as it has been inactive for " + Inactive_timer_counter + " Seconds. " + return_Time_String()});
          Inactive_timer_counter=0;                        // Reset the inactive counter since it's now active
        }
        //Refresh_Page_seconds_call() // Call the function to re-start everything
          {% endif %}
        self.postMessage({TO_LOG:"TAB IS ACTIVE. " + return_Time_String()});
    }else if (event.data == "TAB-IS-INACTIVE"){
        tabIsActive = false;
        self.postMessage({TO_LOG: "TAB IS INACTIVE " + return_Time_String()});
    }else{
      xhr_call();    // Do the XMLHTTPRequest
      {% if setinterval %}
        Refresh_Page_seconds_call();
        setInterval(Refresh_Page_seconds_call,1000);
      {% endif %}
    }
  };





    {% if setinterval %}
    var Refresh_Page_seconds = {{ setinterval }};  // When to refresh the page.

    // Call in every second, will check and update button.
    function Refresh_Page_seconds_call(){
      if (tabIsActive){
        Refresh_Page_Counter = Refresh_Page_Counter + Increment_counter;

        // If the counter (1 second) has reached the set interval duration
        if (Refresh_Page_Counter >=  {{ setinterval }}){
          Increment_counter = 0;          // Stop the increment for now.
          Refresh_Page_Counter = 0;

          xhr_call();         // Do the XMLHTTP call. Ajax to end point.
          self.postMessage({Refresh_count_down : "Running.."}); // Post that we are running to the button.

        }else{
          //console.log({Refresh_count_down : (Refresh_Page_seconds - Refresh_Page_Counter)});
          if (Increment_counter > 0){
          // For the count down on the button.
            self.postMessage({Refresh_count_down : (Refresh_Page_seconds - Refresh_Page_Counter)});
          }
        }
      }else{  // If the tab is now inactive. We don't need to keep calling.
        Inactive_timer_counter = Inactive_timer_counter + 1;  // Increment inactive counter so we know how long it's been out for.
      }
    }

    {% endif %}


    function Custom_Ajax_Error(xhr,status,error,error_card_id){

        var current_html = $('#' + error_card_id).html();   // To display the error. First, we need to store the HTML as we want to append.
        current_html += "------------------------- ↓" + return_Time_String() + " ↓------------------------<br>";
        current_html += "Ajax Response: " + JSON.stringify(xhr) + "<br>";
        current_html += "status: " + status + "<br>";
        current_html += "Error: " + error['message'] + "<br>" + error['stack'] + "<br><br>";
        $('#' + error_card_id ).html(current_html);  // Put it back into the Card.

        // Want to Log the time as well here.
        console.log(return_Time_String());
        console.log(xhr);
        console.log(xhr["responseText"]);
        console.log(status);
        console.log(error);
    }

  function sent_httprequest(method, url, data){
    const promise = new Promise((resolve, reject) => {
      const xhr = new XMLHttpRequest();
      xhr.timeout = 90*1000;         // time in milliseconds
      //xhr.responseType = 'json';    // We expect a json back.
      if (data){
        xhr.setRequestHeader('Content-Type','application/json');
      }
      xhr.open(method, url, true);
      xhr.onload = () => {
        const data = xhr.response;
        json_return_data = check_json(xhr.response);
        if (json_return_data != false) {
          resolve(json_return_data);  // Return the data in array/dict format.
        }else{
          reject(xhr.response);
        }
      };

      xhr.onerror = () =>{
        console.log('xmlHTTP Error');
        console.error(xhr);
        reject(xhr.response);


      };

      xhr.ontimeout = function (e) {
        reject("Timeout : " + return_Time_String());
        console.log("Timeout: " + return_Time_String());
      // XMLHttpRequest timed out. Do something here.
      };
    xhr.send();
    });
    return promise;

  }

  // The actual function to do the XHR call.
  function xhr_call(){
    sent_httprequest("POST", "{{ ajax_url }}").then(responseData => {
      //self.postMessage(responseData);
      Increment_counter = 1;  // Restart the Counter.

      var below_table =  '<div class="left-text small-text bg-light p-1 m-1"> <table class="table table-sm"><tbody>';
      below_table += '<tr><th scope="row">Refresh time</th><td>' + return_Time_String() + '</td></tr>';


      if (responseData.length >= 3) {
        below_table += '<tr><th scope="row">Country [Floating]  Refresh</th><td>' + responseData[1] + '</td></tr>';
        below_table += '<tr><th scope="row">Country [Yesterday] Refresh</th><td>' + responseData[2] + '</td></tr>';
        //below_table += "<br>Country [Floating]  Refresh: " + responseData[1];
        //below_table += "<br>Country [Yesterday] Refresh: " + responseData[2];
      }

      below_table += "</tbody> </table></div>";

      //console.log(responseData.length);

      // Post to main thread to update the DOM
      self.postMessage({Data_table_Div1: Draw_Table(responseData[0], "{{ Table_name }}" , "table compact  table-hover table-sm table-responsive-sm table-bordered bg-light large_text_table basic_table", ["Update Slow"] , {{ replace_words }}, "Data_table_Div1_table" ) + below_table});
      self.postMessage({Table1_Raw : JSON.stringify(responseData)});
      // self.postMessage({plot1 : responseData[1]});
      //self.postMessage({To_Save : responseData[2]});






    }).catch(err => {
      //self.postMessage(err);
      Increment_counter = 1;  // Restart the counter.

      //TODO: Try to catch the error.
      self.postMessage({Table1_Error: "An Error Occured: " + return_Time_String(), consolidate: true});
      console.log(err);

    });
  }


    // Try Catch Block to catch if string can be parsed as json.
  function check_json(str){
        try {
           reurn_val = JSON.parse(str);
        } catch (e) {
          return false;
        }
        return reurn_val;
    }


    function Draw_Vertical_Table(table_Data, Table_Caption, Table_Class, Replace_words) {
        var sString = '';

        //------------- Table Header -----------------------------
        sString += '<table class="' + Table_Class + '">';
        sString += '<caption>' + Table_Caption + '</caption>';
        sString += '<tr>';
        //------------- Table Data -----------------------------

        for (var x in table_Data) {
            //For each row, For each data

            sString += '<tr>';

            //for(var xx in table_Data[x]){	//

            var string_buffer = "";
            string_buffer += table_Data[x];

            sString += '<td><b>' + x + '</b></td>';

            if (string_buffer.search("ERROR") >= 0) {
                // If there is an error, change the color of the cell
                sString += '<td bgColor="#ff8080">';
                //sString+= '<td>';
            } else {
                sString += '<td>';
            }

            if (table_Data[x]instanceof Array == true || table_Data[x]instanceof Object == true) {
                //sString += "Is Array..." ;

                sString += Draw_Vertical_Table(table_Data[x], "", "table_orange", Replace_words);
            } else {
                sString += table_Data[x];
            }

            sString += "</td>";

            sString += '</tr>';
        }
        sString += '</table>';
        return sString;
    }



        // Draws a horizontal table.
        function Draw_Table(table_Data, Table_Caption, Table_Class, Alert_Words, Replace_words, table_id) {
            var sString = '';
            //------------- Table Header -----------------------------
            sString += '<table ';
            if (table_id!=undefined){
                sString += 'id="' + table_id + '" ';
            }
            sString += 'class="' + Table_Class + '">';
            sString += '<caption>' + Table_Caption + '</caption>';
            sString += '<thead><tr>';

            for (var x in table_Data) {
                //For table header.
                for (var xx in table_Data[x]) {
                    sString += '<th class="align-middle">';
                    sString += xx.replace("_", "<br>");  // Replace _ with ' ' so that table can be smaller
                    sString += '</th>';
                }
                break;
            }

            //variable instanceof Array
            sString += '</tr></thead>';

            //------------- Table Data -----------------------------

            for (var x in table_Data) {
                //For each row

                sString += '<tr>';

                for (var xx in table_Data[x]) {
                    //For each data
                    var string_buffer = "";
                    string_buffer += table_Data[x][xx];



                    var Alert_Word_found = 0;
                    for (var aw in Alert_Words) {	// Loop thru the list of alert words
                        // Loop thru the array
                        if (string_buffer.search(Alert_Words[aw]) >= 0) {
                            Alert_Word_found = 1;
                            break;
                        }
                    }

                    var Relace_Word_found = 0;
                    for (var rw in Replace_words) {	// Loop thru the list of Replace words
                        // Loop thru the array
                        if (string_buffer.search(Replace_words[aw]) >= 0) {
                            Relace_Word_found = 1;
                            string_buffer = table_Data[x][xx].replace(Replace_words[aw], "")
                            break;
                        }
                    }


                    Table_Column = xx;	// Get the Column Name
                    if ((xx.search("Discrepancy") >= 0) && (table_Data[x][xx] != 0)){	// If its the discrepancy Column/Row, we want to Flag out any that isn't 0.
                        Alert_Word_found = 1;
                    }

                     if ((xx.search("Mismatch_count") >= 0) && (table_Data[x][xx] >= 10)){	// If its the Mismatch_count Column/Row, we want to Flag out any larger then 10
                        Alert_Word_found = 1;
                    }


                    if (Alert_Word_found == 1) {
                        // If there is an error, change the color of the cell
                        sString += '<td class="alert_cell">';
                        //sString+= '<td>';
                    } else if (Relace_Word_found == 1) {
                        //If replace words was found, we want to give it a class
                        sString += '<td class="table_highlight">';
                        //sString+= '<td>';
                    } else {
                        sString += '<td>';
                    }

                    if (table_Data[x][xx]instanceof Array == true || table_Data[x][xx]instanceof Object == true) {
                        //sString += "Is Array..." ;

                        sString += Draw_Vertical_Table(table_Data[x][xx], "", "table_orange ", Replace_words);
                    } else  if (typeof(table_Data[x][xx]) === 'number'){  // If it's a number. we want to write it with a comma for easy reading.

                      if (table_Data[x][xx] < 0){
                        sString += "<font color='red'>" +  numberWithCommas(table_Data[x][xx]) + "</font>";
                      }else{
                        sString += numberWithCommas(table_Data[x][xx]);
                      }
                    }else
                    {
                        sString += string_buffer;
                    }
                    sString += "</td>";
                }
                sString += '</tr>';
            }
            sString += '</table>';
            return sString;
          }


    // function numberWithCommas(x) {
    //   return x.toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",");
    // }

    function numberWithCommas(x) {
      return x.toLocaleString(undefined, {maximumFractionDigits:4})
    }



    function Check_Time_Offset(){
        var d = new Date();
        var n = d.getTimezoneOffset();
        UTC_Offset_Change = (-1 * UTC_Timing_Fixed) + n;

        var e = new Date(d.getTime() + UTC_Offset_Change*60*1000);
        var d_day = d.getDay();            // 0 - 6
        var e_day = e.getDay();            // 0 - 6
        //alert("d_day = " + d_day + "  e_day = " + e_day);
    }


    function return_Time_String(){

        var e = new Date();
        var timeSone_OffSet = e.getTimezoneOffset();
        UTC_Offset_Change = (-1 * UTC_Timing_Fixed) + timeSone_OffSet;
        var d = new Date(e.getTime() + UTC_Offset_Change*60*1000);        // Get SGT


        var day = d.getDay();            // 0 - 6

        var month = d.getMonth();        // 0-11
        var year = d.getFullYear();     // yyyy


        var hr = pad(d.getHours(),2);            // 0-23
        var min = pad(d.getMinutes(),2);        // 0-59
        var sec = pad(d.getSeconds(),2);         // 0-59
        var date = pad(d.getDate(),2);

        var day_name = ["Sun" ,"Mon", "Tue", "Wed", "Thu", "Fri", "Sat" ];
        var mon_name = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "July", "Aug", "Sep", "Oct", "Nov","Dec"];

        var Date_String = "";
        Date_String = day_name[day] + " " + year + "-" +  mon_name[month] + "-" + date + " " + hr+":"+min+":"+sec;
        return Date_String;
    }

    function pad(number, length) {

        var str = '' + number;
        while (str.length < length) {
            str = '0' + str;
        }
        return str;
    }
</script>



<script>
  $(document).ready(function(){
      var UTC_Timing_Fixed = -480;
      var UTC_Offset_Change = 0;
      //setInterval(Refresh_H1, 500);        //     Refresh the time.

      var Show_Mt4_Zero = 0;                  // Button Controlled
      var play_Sound = 0;                     // Button Controlled. Will be set once the DOM loads.

      var send_email_flag = 1;                 // Button Controlled
      var Refresh_Page_Disable = 2;           // To count when the refresh page button can be used again.

      var MT4_LP_Position_save = {};       // Used to save the past position
      var lp_attention_email_count = 0;       // LP Details Send email Count
      var lp_mc_email_count = 0;       // LP Details Send email Count
      var lp_time_issue_count = 0;       // LP Details Send email Count
      var lp_so_email_count = 0;       // LP Details Send email Count

      var Page_Run_Count=0;           // A running counter.

      var UTC_Timing_Fixed = -480;        // Used for UTC Time offset to SGT
      var UTC_Offset_Change = 0;
      var Increment_counter = 1;

      var Refresh_Page_Counter = 0;  // When to refresh the page.

      //var SetInterval_MT4_LP;
      //var SetInterval_LP_Details;

      var workerJS =  $('#my_first_worker').text();
      //var workerJS =  document.getElementById("myworker_Aaron").innerText;
      //console.log(workerJS);
      var blob = new Blob([workerJS]);
      var blobURL = URL.createObjectURL(blob);
      //console.log(blobURL);

      var myWorker = new Worker(blobURL);



      function refresh_datatable(div_id, data){
        //'#' + key + '_table'
        var table_id = div_id + "_table";
        if ( $.fn.dataTable.isDataTable( table_id ) != true) { // If not a datatable
          var order = [];
          //console.log( table_id + ' is NOT data table' );

        }else{  // If it's a Datatable already...
          var table = $( table_id).DataTable();
          var order = table.order();
          var search = table.search()
          //console.log( 'Column '+order+' is the ordering column' );
        }
        $(div_id).html(data);
        table = $( table_id ).DataTable( {
        paging: false,
        searching: true,
        "aaSorting": order, // Don't want to sort initially
        "oSearch": {"sSearch": search}
      } );
      //console.log(search);
      }



      myWorker.onmessage = function(e){
        if (e.data instanceof Object){  // If it is an object, we loop thru and add it to the correct container/Div
          ret_obj = e.data;
          var consolidate = false;
          if ('consolidate' in ret_obj){  // If we want to consolidate all the errors.
            consolidate = true;
          }
          for (let key in ret_obj){

            if (key.search("TO_LOG") != -1){  //If we want to log this to consol from web worker.
              console.log(ret_obj[key]);
            }

          //}
             var current_html = "";
             if (consolidate == true){  // If we need to consolidate the items.
                var current_html = $('#' + key).html();   // To display the error. First, we need to store the HTML as we want to append.
                current_html += "<br>-------------------------------------------------<br>";
                //current_html += "Ajax Response: " + JSON.stringify(xhr) + "<br>";
                //current_html += "status: " + status + "<br>";
                //current_html += "Error: " + error['message'] + "<br>" + error['stack'] + "<br>";
                //$('#' + error_card_id ).html(current_html);  // Put it back into the Card.
             }
             //console.log(`${key} : ${e.data[key]}`);

            if (key.search("plot") == -1){  // If there's no need to plot.



            // If it's a table, we want to convert it to a datatable
            // Naming convention. If it's a div ment to store a datatable.
            // We name it  Data_table_Div<number>, so that the table ID = '#' + key + '_table'
              if (key.toLowerCase().search("data_table_div")>=0){    // All tables can be put to Datatables
                // used to check if a table is a DataTable or not already.
                // Datatables dosn't allow for re-init. So.. gotta check
                //console.log(key);
                //'#' + key + '_table' will be the name of the table in the Div.
                 refresh_datatable('#' + key, current_html + ret_obj[key]);


              }else{
                $('#' + key).html(current_html + ret_obj[key]);
              }
            }else{
              console.log(ret_obj[key]);
              Plotly.newPlot(key, ret_obj[key]);
            }


          }

          // used to check if a table is a DataTable or not already.
          // Datatables dosn't allow for re-init. So.. gotta check
          if ( $.fn.dataTable.isDataTable( '#tTable_1' ) ) {
              table = $('#tTable_1').DataTable();
          }
          else {
              table = $('#tTable_1').DataTable( {
                  paging: false,
                  searching: false,
                  "aaSorting": [] // Don't want to sort initially
              } );
          }

        }else{
          console.log(e.data);
        }
      };

    // Could be anything. We just want to post something out.
    myWorker.postMessage("START");

    // To let the page not run Ajax when tab is deemed idle.
    var TabIsNotActive=false;

    setInterval(function(){
      var h = (new Date()).getHours();
      var m = (new Date()).getMinutes();
      var s = (new Date()).getSeconds();
      h = h < 10? "0"+h : h;
      m = m < 10? "0"+m : m;
      s = s < 10? "0"+s : s;

      if ( TabIsNotActive != document.hidden){
        console.log("Document state changed (Inactive/Active) : "+ h+':'+m+':'+s);
        TabIsNotActive = document.hidden;
        if (TabIsNotActive == true){
          myWorker.postMessage("TAB-IS-INACTIVE");  // Send to the web worker
        }else{
          myWorker.postMessage("TAB-IS-ACTIVE");  // Send to the web worker
          refresh_viz_count=10; // Set to large number so that it will be forced to refresh at next go.
        }
      }
    }, 1000);



    $('#btn_refresh_page').click(function() {
      myWorker.postMessage("BUTTON");  // Send a click to the web worker
    });

  });


</script>
{% endblock %}


{% block app_content %}
<h1 class="right-text">
  {% if header %}
  {{ header }}
  {% else %}
  Risk
  {% endif %}
  <br>
  <span id="page_time"></span>

</h1>

<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12" id="Data_table_Div1">
     {% include '_pleaseWait.html' %}
  </div>

  <br>
  {% if description %}
  <br><br>
  <span class="border border-secondary rounded bg-light p-4">{{ description }}</span>
  <br>
  {% endif %}

</div>
{% if form %}
<div class="container general_form">
  <div class="row">
    <div class="col">
      <hr class="col-xs-12">
      {{ wtf.quick_form(form, button_map={'submit': 'outline-secondary btn-lg btn-light'}) }}
    </div>
  </div>
</div>

{% endif %}

<!-- <div class="row">
  <div class="col-sm chart" id="plot1"> </div>
</div> -->

{% if table %}
<br>
<h2>Uploaded Swap Values</h2>
<div class="container">

{{ table  }}

</div>
<br>
{% endif %}

  <br>
<p>
  <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#Table1_Raw_Div" aria-expanded="false">
    Show Table
  </button>

</p>

<div class="collapse" id="Table1_Raw_Div">
  <div class="card card-body">
    <b>Table 1 Raw JSON:</b> <br>
    <span id="Table1_Raw"></span>
  </div>
  <div class="card card-body">
    <b>MT4/LP Position Ajax Error:</b> <br>
    <span id="Table1_Error"></span>
  </div>
</div>

{% endblock %}


{% block navbar_button %}
{% if setinterval %}
<button class="btn btn-warning navbar-btn nav-button" id="btn_refresh_page">Refresh<br>Page: <span id="Refresh_count_down"></span> </button>
{% endif %}

{% endblock %}
